<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hash view</title>
</head>
<body>
<h2>Hash:</h2>
<h1>{{  hash.hash }}</h1>
<h2>Text:</h2>
{{ hash.text }}

<a href="{% url 'home' %}">Home</a>
</body>
</html>