<head>
    <title>Home hash function</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="button" value="Hash">
</form>

<h2 id="quickhash"></h2>

<script>
    $('#id_text').keyup(function () {
        let text = $(this).val();

        $.ajax({
            url: '/quickhash',
            data: {
                'text': text
            },
            dataType: 'json',
        }).done(function (data) {
            $('#quickhash').text(data['hash']);
        }).fail(function () {
            alert('Error retrieving hash text');
        })
    });
</script>